**/__pycache__/**
*.pyc
.idea
*.json
.DS_Store
*.zip
*.ttf
fall/
bunny/
static/
.pytest_cache
*mp4
*mp3
sets/
.env_prod

avengers_infinity_war/
avengers_infinity_war_2/
beast/
breaking_surface/
breaking_surface_imdb/
data1.csv
dreamland/
en_version/
end.m4a
frozen_east_text_detection.tar.gz
get_out/
images_exclude/
jungle/
mask.png
output.m4a
remove_banners.cpp
the_ledge/
the_shallows/
traffik/
welcome.m4a
bird_box/
cpp/
