mashumaro~=3.15
pytest~=8.3.4
ujson
python-box[all]~=7.3.2
aioboto3~=14.0.0
aiobotocore
pytest-env
asynctest
sphinx
sphinx_rtd_theme
ordered-set~=4.1.0
openai~=1.65.1
pytest-asyncio
python-dotenv~=1.0.1
aiohttp~=3.11.13
beautifulsoup4~=4.13.3
propcache~=0.3.0